[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tqdm = "*"
munkres = "*"
opencv-python = "*"
pandas = "*"
keras = "==2.2.2"
tensorflow-gpu = "==1.10.0"

[dev-packages]
better-exceptions = "*"
pylint = "*"

[requires]
python_version = "3.5"
