[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tqdm = "*"
munkres = "*"
opencv-python = "*"
pandas = "*"

[dev-packages]
ipython = "*"
better-exceptions = "*"

[requires]
python_version = "3.6"
