[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tqdm = "*"
munkres = "*"
opencv-python = "*"
pandas = "*"
tensorflow-gpu = "==1.4.0"
keras = "==2.1.0"
"h5py" = "*"

[dev-packages]
ipython = "*"
better-exceptions = "*"

[requires]
python_version = "3.6"
